@charset "UTF-8";

h1{
	font-family:"Arial";
}

h3{
	font-family:"Arial";
}

body {
	background-image: url(https://www.aguadecocoice.com.br/assets/img/bg-verde-degrade.png);
}

.erro_msg{
	color:#FFFAFA;
	font-size:18px;
}

.index-text{
	font-size:18px;
}